.reg{
    width:300px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
form{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.button{
    margin-top: 20px;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-top: 10px;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding-left: 20px;
    width: 80px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:blue;
    color: white;
  }