.contain {
    margin-left: 3rem;
}

.iconcont {
    margin: 5rem;
}

.iconbox {
    width: 5rem;
    height: 5rem;
    background-color: #005197;
    border-radius: 4rem;
    box-shadow: 0 1px 5px 1px rgba(97, 97, 97, 0.65);
    margin-bottom: 4rem;
    border: 2px solid #fff;
    /* padding: 4rem; */
}

.texticon {
    margin: auto;
    font-weight: bold;
    text-align: center;
}

.textheading {
    margin-top: 1rem;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
}

.iconbox:hover {
    background-color: #85adcf;
}

.iconstyle {
    height: 5rem;
    width: 5rem;
}

.formcontainer {
    border: 2px solid #ddd;
    /* background-color: #e1e6e9; */
    box-shadow: 0 2px 14px 7px rgba(97, 97, 97, 0.65);
    margin-top: 2rem;
    /* width: ; */
}

.fieldcol {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.labelfield {
    font-weight: bold;
    margin: auto 0;
    margin-right: 10px;
}

.labelfieldinput {
    font-weight: bold;
    margin: auto 0;
    margin-right: 10px;
    color: #7f09d0;
    font-size: 1.5rem;
}

.inputstyleform {
    /* background: #e5e5e5; */
    line-height: 40px;
    border-radius: 5px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
    border: 1px solid #ddd;
}

.formheading {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: .5rem;
}

.buttonsavenext {
    font-family: 'Montserrat';
    font-weight: 400;
    margin: 10px 5px;
    margin-right: 5px;
    background-color: #ccc;
    border: none;
    border-radius: 2px;
    position: relative;
    padding: 8px 30px;
    margin: 10px 1px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
}

.buttonsavenext:hover {
    background-color: rgb(202, 197, 197);
}

.buttonnext {
    font-family: 'Montserrat';
    font-weight: 400;
    margin: 10px 5px;
    margin-right: 5px;
    background-color: #428fc9;
    border: none;
    border-radius: 2px;
    position: relative;
    padding: 8px 30px;
    margin: 10px 1rem;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
}

.buttonnext:hover {
    background-color: rgb(202, 197, 197);
}

.buttonupload {
    font-family: 'Montserrat';
    font-weight: 400;
    margin: 10px 5px;
    margin-right: 5px;
    background: #8383d7;
    border: none;
    border-radius: 2px;
    position: relative;
    padding: 8px 30px;
    margin: 10px 1rem;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
}

.buttonupload:hover {
    background-color: rgb(202, 197, 197);
}

.divbutton {
    display: contents;
    margin-left: 1rem;
}

#examtype {
    line-height: 40px;
    border-radius: 5px;
    padding: 14px 22px;
    font-size: 16px;
    color: #000;
    border: 1px solid #ddd;
}

.active {
    background-color: #fc009a;
}

.active:hover {
    background-color: #ebaad2;
}

@media (max-width:850px) {
    .iconcont {
        margin: 2rem;
    }
}